Repository ankitpokhrel/tus-php, pull requests merged in 2019-05, with the labels that each got.

#144 Example: No need to send file to server
  example/basic/index.php
  example/basic/verify.php
Labels: example

#147 Fix redis env check
  README.md
  src/Config/client.php
  src/Config/server.php
Labels: client, defect, server

#158 Update Readme with Tus-JS-Client Example
  README.md
Labels: doc | suggestions
